/*
  =============================================================================
  modules/filter.css — Filter styles
  =============================================================================

  This file defines the structure and styling for the filter bar used to filter visible avatars.
  Includes label, checkbox-style filters, and reset actions. Also handles responsive layout.

  Uses BEM (Block Element Modifier) naming convention
*/

/* Block — filter container */
.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .filter {
    flex-direction: column;
  }
}

/* Element — filter controls */
.filter__controls {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .filter__controls {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Element — filter control */
.filter__control {
  display: block;
  width: auto;
  margin: 5px 0;
  cursor: pointer;
}

/* Modifier — space between filter options */
.filter__control:not(:last-child) {
  margin-right: 20px;
}

/* Element — filter hidden native input */
.filter__control > input {
  display: none;
}

/* Element — filter option label */
.filter__control > span {
  position: relative;
  display: block;
  height: 30px;
  padding-left: 40px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  white-space: nowrap;
  user-select: none;
}

/* Element — filter option custom checkbox */
.filter__control > span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #000;
}

/* Element — filter option custom checkbox checkmark */
.filter__control > span:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-color: #0fa;
  visibility: hidden;
}

/* Modifier — highlight custom checkbox when input is checked */
.filter__control input:checked ~ span:before {
  border-color: #0fa;
}

/* Modifier — show custom checkbox checkmark when input is checked */
.filter__control input:checked ~ span:after {
  visibility: visible;
}

/* Element — filter actions */
.filter__actions {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

@media screen and (max-width: 800px) {
  .filter__actions {
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }
}

/* Element — filter action */
.filter__action {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: 80px;
  height: 40px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

/* Modifier — filter action hover effect */
.filter__action:hover {
  color: #000;
  background-color: #fff;
  opacity: 0.8;
}

/* Modifier — filter action hidden state */
.filter__action.is-hidden {
  display: none;
}

/* Modifier — space between filter actions */
.filter__action:not(:last-child) {
  margin-right: 20px;
}

/* Modifier — filter action role reset */
.filter__action_role_reset {
  color: #999;
  border-color: #999;
}

/* Modifier — filter action role reset hover effect */
.filter__action_role_reset:hover {
  background-color: #999;
}
